<%= render 'shared/tab' %>
<h1><%= t 'defaults.tool_search' %></h1>
<div class="search-box">
    <%= form_with url: tools_search_path, method: :get, local: true do |f| %>
      <div class="form-group">
          <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
          <%= f.submit t('defaults.search'), class: "form-control btn btn-success" %>
      </div>
    <% end %>
</div>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap -m-4">
      <% if @tools.present? %>
        <%= render 'tools/tool' %>
      <% else %>
        <%= render 'tools/default_tools' %>
      <% end %>
    </div>
  </div>
</section>
