<section class="bg-base-200 text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest"></h2>
        <div class = "flex justify-between my-4">
          <%= image_tag current_user.profile.avatar.url, class: "w-32 h-32 rounded-full m-2 rounded-full bg-gray-200" %>
          <div class =  "flex justify-between">
            <h1 class = "text-black text-3xl mx-auto mt-4"><%= current_user.name %></h1>
            <div>
              <div class = "my-2">
                <%= link_to edit_user_path do %>
                  <i class="fa-solid fa-pen-to-square mx-2"></i>
                <% end %>
              </div>
              <div class = "my-2">
                <%= button_to user_path, method: :delete do %>
                  <i class="fa-solid fa-trash mx-2"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">家屋</span>
          <span class="ml-auto text-gray-900"><%= current_user.profile.house_structure_i18n %></span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">築年数</span>
          <span class="ml-auto text-gray-900"><%= current_user.profile.house_age %></span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">階数</span>
          <span class="ml-auto text-gray-900"><%= current_user.profile.house_floor %></span>
        </div>
      </div>
    </div>
  </div>
</section>
