<% content_for(:title, t('.title')) %>
<div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200 mx-auto mt-12 mb-12">
  <div class="card-body">
    <h3 class="mt-3 text-xl font-medium text-center text-gray-600"><%= t '.title' %></h3>
    <p class="mt-1 pb-4 text-center text-gray-500 border-b"><%= t '.welcome' %></p>
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-control">
        <%= f.label :name, class: "label w-full" %>
        <%= f.text_field :name, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control">
        <%= f.label :email, class: "label w-full" %>
        <%= f.email_field :email, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control">
        <%= f.label :password, class: "label w-full" %>
        <%= f.password_field :password, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control">
        <%= f.label :password_confirmation, class: "label w-full" %>
        <%= f.password_field :password_confirmation, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control mt-6">
        <%= f.submit (t 'defaults.register'), class: "btn btn-natural"%>
      </div>
    <% end %>
  </div>
  <div class="flex items-center justify-center py-6 text-center">
    <%= link_to t('.have_account?'), login_path, class: "link link-natural" %>
  </div>
</div>
