<div class="navbar bg-white px-4">
  <div class="flex-1">
    <%= link_to posts_path, class:'btn btn-ghost normal-case text-xl' do %>
      <%= image_tag "goki_logo.png", class: 'w-30 h-10'%>
    <% end %>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-full rounded-full border border-gray-400">
          <% if current_user.profile %>
            <%= image_tag current_user.profile.avatar.url %>
          <% else %>
            <i class="fa-solid fa-user w-full h-full rounded-full bg-neutral-400"></i>
          <% end %>
        </div>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white border-spacing-4 rounded-box w-52">
        <li class = "mx-auto">
          <%= link_to current_user.name, profile_path(current_user) %>
        </li>
        <li class = "mx-auto">
          <%= link_to t('defaults.new_post'), new_post_path %>
        </li>
        <li class = "mx-auto">
          <%= link_to t('defaults.for_tools'), tools_path %>
        </li>
        <li class = "mx-auto">
          <%= button_to t('defaults.logout'), logout_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</div>
