<!DOCTYPE html>
<html data-theme="retro">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render logged_in? ? 'shared/header' : 'shared/before_login_header' %>
    <%= render 'shared/fight_button' if logged_in? %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
