<%= form_with model: post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail, accept: 'image/*', onchange: 'previewImage(preview)' %>
    <%= f.hidden_field :thumbnail_cache %>
  </div>
  <%= f.submit %>
<% end %>
