<div class="p-4 md:w-1/3">
  <div class="h-full border-4 border-yellow-500 border-opacity-60 rounded-lg overflow-hidden">
    <%= image_tag post.thumbnail.url, class: "lg:h-48 md:h-36 w-full object-cover object-center" %>
    <div class="p-6">
      <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"><%= l post.created_at%></h2>
      <%= link_to post_path(post.id) do%>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><%=post.title%></h1>
      <% end %>
      <div class="flex items-center flex-wrap ">
        <a class="text-yellow-500 inline-flex items-center md:mb-2 lg:mb-0">
          <%=post.user.name%>
        </a>
        <span class="mx-auto bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400"><%= post.post_types_i18n %></span>
        <span class="text-gray-400 mr-1 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 ">
          <%= render 'like_button', post: post%>
        </span>
      </div>
    </div>
  </div>
</div>
