<% content_for(:title, @post.title) %>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= l @post.created_at %></h2>
        <div class = "flex justify-between">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"><%= @post.title %></h1>
          <h1 class="flex text-gray-900 textmd title-font font-medium mb-4">
            <% if @post.post_types == "prevention" %>
              <span class="bg-blue-200 text-blue-800 text-lg font-medium mr-2 px-2.5 py-0.5 rounded-full"><%= @post.post_types_i18n %></span>
            <% else %>
              <span class="bg-pink-100 text-pink-800 text-lg font-medium mr-2 px-2.5 py-0.5 rounded-full"><%= @post.post_types_i18n %></span>
            <% end %>
            <% if current_user == @post.user %>
              <%= link_to edit_post_path do %>
                <i class="fa-solid fa-pen-to-square mx-2"></i>
              <% end %>
              <%= link_to post_path, data: { "turbo-method": :delete } do %>
                <i class="fa-solid fa-trash mx-2"></i>
              <% end %>
            <% end %>
          </h1>
        </div>
        <div class="text-xl mb-4"><%= simple_format(@post.body) %></div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">家屋</span>
          <span class="ml-auto text-gray-900"><%= @profile.house_structure_i18n if @profile %></span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">築年数</span>
          <span class="ml-auto text-gray-900"><%= @profile.house_age if @profile %></span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">階数</span>
          <span class="ml-auto text-gray-900"><%= @profile.house_floor if @profile %></span>
        </div>
        <div class="flex">
          <% if @profile %>
              <%= image_tag @profile.avatar.url, class: "w-10 h-10 rounded-full" %>
          <% else %>
              <i class="fa-solid fa-user w-5 h-5 rounded-full p-4 mx-2 bg-neutral-400"></i>
          <% end %>
          <span class="title-font font-medium text-lg text-gray-900"><%= @post.user.name %></span>
          <div class="flex ml-auto text-white border-0 py-2 px-6 "></div>
          <div class="flex rounded-full w-10 h-10 bg-gray-200 p-0 border-0 items-center justify-center text-gray-100 ml-4">
            <%= render 'like_button', post: @post%>
          </div>
        </div>
      </div>
      <%= image_tag @post.thumbnail.url, alt: "ecommerce", class: "lg:w-1/2 w-full lg:h-auto h-64 object-cover" %>
    </div>
  </div>
</section>
