<div class="overflow-x-auto">
  <table class="table table-xl mx-auto my-4">
    <thead>
      <tr>
        <th></th>
        <th><%= t 'fights.index.user_name' %></th>
        <th><%= t 'fights.index.started' %></th>
        <th><%= t 'fights.index.ended' %></th>
        <th><%= t 'fights.index.status' %></th>
        <th><%= t 'fights.index.fight' %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @fights %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th><%= t 'fights.index.user_name' %></th>
        <th><%= t 'fights.index.started' %></th>
        <th><%= t 'fights.index.ended' %></th>
        <th><%= t 'fights.index.status' %></th>
        <th><%= t 'fights.index.fight' %></th>
      </tr>
    </tfoot>
  </table>
</div>
