<% content_for(:title, t('.title')) %>
<div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200 mx-auto mt-12 mb-12">
  <div class="card-body">
    <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200"><%= t 'defaults.login' %></h3>
    <%= form_with url: login_path, local: true do |f| %>
      <div class="form-control">
        <%= f.label :email, t('activerecord.attributes.user.email'), class: "label" %>
        <%= f.email_field :email, class: "input input-bordered" %>
      </div>
      <div class="form-control">
        <%= f.label :password, t('activerecord.attributes.user.password'), class: "label" %>
        <%= f.password_field :password, class: "input input-bordered" %>
        <label class="label">
          <a href="#" class="label-text-alt link link-hover"><%= t '.forget_password?' %></a>
        </label>
      </div>
      <div class="form-control mt-6">
        <%= f.submit (t 'defaults.login'), class: "btn btn-natural"%>
      </div>
    <% end %>
  </div>
  <div class="flex items-center justify-center py-4 text-center">
    <%= button_to t('defaults.guest_login'), guest_login_path, class: "link link-natural", method: :post %>
  </div>
  <div class="flex items-center justify-center py-4 text-center">
    <%= link_to t('.have_no_account?'), new_user_path, class: "link link-natural" %>
  </div>
</div>
