<!DOCTYPE html>
<html data-theme="bumblebee">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" %>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <% content_for :head do %>
      <%= javascript_import_module_tag "components/index" %>
    <% end %>
  </head>
  <body>
    <%= render logged_in? ? 'shared/header' : 'shared/before_login_header' %>
    <%= render 'shared/flash_message' %>
    <%= render 'fights/fight_button' if logged_in? %>
    <%= render 'shared/content_button' if logged_in? %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
